@import "../../utils/style.scss";

.about-cover {
  width: 100%;
  height: 220px;

  img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 25px;
  }
}

.collapse-cards {
  margin-top: 20px;
  li {
    margin-bottom: 20px;
  }
}

@include desktop-display {
  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    margin-bottom: 35px;
  }

  .collapse-cards {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
  }
}
