@import "../../utils/style.scss";

.collapseContainer {
  width: 100%;
  margin-bottom: 20px;

  button {
    all: initial;
    background-color: $primary-color;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    h2 {
      color: white;
      margin: 0;
      font-size: 13px;
    }

    img {
      height: 8px;
      height: min-content;
    }

    @include desktop-display {
      h2 {
        font-size: 18px;
      }

      img {
        height: 16px;
      }
    }
  }

  section {
    color: $primary-color;
    background-color: $grey-color;
    padding: 30px;

    @include desktop-display {
      p {
        font-size: 18px;
      }
    }
  }
}
