@import "../../utils/style.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  img {
    width: 145px;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop-display {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    height: 68px;

    img {
      width: 210px;
    }
  }
}

h1 {
  text-align: center;
}

.navLink {
  text-align: center;
  height: 100%;
  padding-left: 10px;
  color: $primary-color;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }

  @include desktop-display {
    text-transform: capitalize;
    font-size: 24px;
    padding-left: 60px;
  }
}
