@import "../../utils/style.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop-display {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    height: 68px;
  }
}

h1 {
  text-align: center;
}

.navLink {
  text-align: center;
  height: 100%;
  padding: 10px;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include desktop-display {
    text-transform: uppercase;
  }
}
