@import "../../utils/utils.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  margin-bottom: 20px;

  @include desktop-display {
    padding-left: 100px;
    padding-right: 100px;
  }
}

h1 {
  text-align: center;
}

.navLink {
  text-align: center;
  height: 100%;
  padding: 10px;
  color: #ff6060;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
