@import "../../utils/style.scss";

.carousel {
  width: 100%;
  position: relative;

  .carousel-picture {
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;

    @include desktop-display {
        border-radius: 25px;
        height: 415px;
        margin-left: auto;
        margin-right: auto;
    }
  }

  button {
    all: initial;
    position: absolute;
    height: 100%;
    width: 80px;

    img {
      width: 12px;
      margin-left: 8px;
      margin-right: 8px;

      @include desktop-display {
        width: 45px;
        margin-left: 24px;
      margin-right: 24px;
    }
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
    transform: rotate(180deg);
  }
}
