@import "../../utils/style.scss";

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: $footer-height;
  box-sizing: border-box;

  p {
    color: white;
    margin-bottom: 0;
  }

  img {
    height: 40px;
  }
}
