.chip {
  background-color: #ff6060;
  color: white;
  width: fit-content;
  height: 25px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 5px;
}
